.card {
  color: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  border-bottom: none;
}
.details {
  display: flex;
  gap: 8px;
  color: white;
  opacity: 0.75;
  align-items: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.img {
  width: 280px;
  height: 174px;
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-10px);
  transition: 500ms;
}

.title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
